@using MedHelpAuthorizations.Shared.Helpers
@using RazorHtmlEmails.RazorClassLib.Views.Emails.ConfirmAccount
@using RazorHtmlEmails.RazorClassLib.Views.Shared
@model ConfirmAccountEmailViewModel

@{
	
	//ViewData["EmailTitle"] = "AIT Financials" ;
}

<p>
	@Model.Greeting, @Model.FirstName.
</p>

<p>
	This email is sent to notify you that your password has been reset successfully.
</p>



